[flake8]
# Ignorar problemas comuns
ignore = W191,W293,W292,E303,F401,F841,E712,E124,E201,E402

# Aumentar o comprimento máximo da linha
max-line-length = 150

# Aumentar complexidade máxima permitida
max-complexity = 15

# Excluir arquivos e diretórios específicos
exclude = 
    .git,
    __pycache__,
    .env,
    env,
    venv,
    sessions,
    logs,
    build,
    dist,
    *.pyc 