FOLHA_USERNAME=folha
FOLHA_PASSWORD=password
ESTADAO_USERNAME=estadao
ESTADAO_PASSWORD=password
GLOBO_USERNAME=globo
GLOBO_PASSWORD=password
HEADLESS=False

DATABASE_URL=postgresql://postgres:supersecret@healthcheck_db:5432/healthcheck
OPENAI_API_KEY=

#S3
AWS_ACCESS_KEY_ID=aws_key_id
AWS_SECRET_ACCESS_KEY=aws_secret_key
AWS_S3_REGION_NAME=aws_region_name
AWS_BUCKET_NAME=aws_bucket_name

# MinIO
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_SECURE=false
MINIO_BUCKET=scraped-articles

# OxyLabs
PROXY_SERVER=http://oxylabs.io
PROXY_USERNAME=username
PROXY_PASSWORD=password

# Email
EMAIL_HOST=host.mail
EMAIL_USER=email.user
EMAIL_PASSWORD=password
ADMIN_EMAILS=admin@mail.com
